<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Select Role - Skill Mitra</title>
     <link rel="icon" href="{{ url_for('static', filename='logo.jpg') }}" type="image/jpg">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/role_selection.css') }}">
</head>
<body>
    <div class="role-selection">
        <div class="container text-center">
            <h2>Select Your Role for the Interview</h2>

            <form action="/choose_answer_method" method="get" class="d-flex flex-column align-items-center">
                <div class="form-group w-50">
                    <label for="role"></label>
                    <select class="form-control custom-dropdown" id="role" name="role">
                        <option value="data_scientist">Data Scientist</option>
                        <option value="product_manager">Product Manager</option>
                        <option value="business_analyst">Business Analyst</option>
                        <option value="digital_marketing">Digital Marketing</option>
                    </select>
                </div>

                <button type="submit" class="btn btn-success">Proceed</button>
            </form>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
